<div class="page">
    <h1>Global parameters</h1>

    <div class="grid">
        <div class="col-12">
            <app-card title="Global parameters">
                <div class="pad20" *ngIf="parameters">

                    <div *ngFor="let param of params | keyvalue">
                        <div class="group">{{param.key}}</div>
                        <table class="table">
                            <tr>
                                <th>#ID</th>
                                <th>Code</th>
                                <th>Value</th>
                                <th>Type</th>
                            </tr>
                            <tr *ngFor="let parameter of param.value">
                                <td>{{parameter.id}}</td>
                                <td>{{parameter.code}}</td>
                                <td>
                                    <input-text-live [param]="parameter.value" (paramChange)="onParamChange($event, parameter.code)"></input-text-live>
                                </td>
                                <td>{{parameter.type}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="pad20" *ngIf="!parameters">
                    <p>Loading parameters...</p>
                </div>
            </app-card>
        </div>
    </div>
</div>