<div class="main-menu">
    <div *ngFor="let item of menuItems; let i = index">
    <a *ngIf="item.url != null" [routerLink]="item.url"  routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}" class="sbi-menu-section">
        <i *ngIf="item.icon != null" [class]="item.icon"></i>
        {{item.name}}
    </a>
    <a *ngIf="item.url == null" (click)="toggleSection(i)" class="sbi-menu-section">
        <i *ngIf="item.icon != null" [class]="item.icon"></i>
        {{item.name}}
    </a>
    <div *ngIf="item.subMenuItems != null && item.subMenuItems.length > 0" [@openClose]="openedIndex === i ? 'open' : 'closed'">
        <a *ngFor="let subItem of item.subMenuItems" [routerLink]="subItem.url" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}" class="sbi-menu-link">
            <i *ngIf="subItem.icon != null" [class]="subItem.icon"></i>
            {{subItem.name}}
        </a>
    </div>
</div>
</div>