<div class="sbi-left-menu">
    <header [@fadeIn]>
        <img src="{{user?.avatar}}"/>
        {{user?.firstname}}
    </header>
    <ul>
        <li><span>Navigation</span></li>
        <li><a href="main"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
        <li><a href="customers"><i class="fa fa-building"></i> Customers</a></li>
        <li><span>Other</span></li>
        <li><a href="settings"><i class="fa fa-cog"></i> Settings</a></li>
        <li><a (click)="logoutUser()"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
</div>