<div class="page">
    <h1>Project</h1>

    <tabs (onTabChange)="onTabChange($event)">
        <tab tabTitle="Overview" tabIcon="fa-solid fa-book-open">
            <div class="grid">
                <div class="col-9">
                    <app-card title="Project Phases">
                        <div class="pad20" *ngIf="!loadingProject">
                            <div *ngIf="phases != null && phases.length > 0" class="phase-container">
                                <div [class]="phase.id == project?.currentPhaseId ? 'phase-item phase-current' : 'phase-item'" *ngFor="let phase of phases">
                                        {{phase.name}}
                                </div>
                            </div>
                            <span *ngIf="phases == null || phases.length == 0">
                                No phases in this project
                            </span>
                        </div>
                    </app-card>
                </div>

                <div class="col-3">
                    <app-card title="Customer">
                        <div class="pad20" *ngIf="!loadingProject">
                            <span *ngIf="project?.customerId != null"><a class="sb-link" routerLink="/customers/{{project?.customerId}}">{{project?.customerName}}</a></span>
                            <span *ngIf="project?.customerId == null">No customer</span>
                        </div>
                    </app-card>
                </div>
            </div>
            <br>

            <app-card title="Project Details">
                <div class="pad20" *ngIf="!loadingProject">
                    <h2>{{project?.name}}</h2>
                </div>
                <div class="pad20" *ngIf="loadingProject">
                    Loading project...
                </div>
            </app-card>

        </tab>

        <tab tabTitle="Documents" tabIcon="fa-solid fa-folder-open">
            <app-card title="Project Documents">
                <button class="toolbar-btn squared rmar10" (click)="openUploadDocumentModal(uploadDocument)">Upload</button>
                <div class="pad20" *ngIf="!loadingDocuments && documents != null && documents.length > 0">
                    <h2>Documents</h2>

                    <table class="table">
                        <tr>
                            <th>#ID</th>
                            <th>Name</th>
                            <th>Version</th>
                        </tr>
                        <tr *ngFor="let doc of documents">
                            <td>{{doc.id}}</td>
                            <td>
                                <a class="sb-link" routerLink="/my-projects/{{doc.id}}">{{doc.name}}</a>
                            </td>
                            <td>
                                {{doc.version}}
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="pad20" *ngIf="loadingDocuments">
                    Loading documents...
                </div>

                <div class="pad20" *ngIf="!loadingDocuments && documents?.length == 0">
                    No documents for this project
                </div>
            </app-card>
        </tab>

        <tab tabTitle="Configuration" tabIcon="fa-solid fa-cog">
            <app-card title="Project Documents">
                <div class="pad20" *ngIf="!loadingProject">
                    <h2>Configuration</h2>
                </div>
                
            </app-card>
        </tab>
    </tabs>

</div>

<ng-template #uploadDocument>
    <h1>Upload Document</h1>
</ng-template>