<div class="page">
    <h1>Project</h1>

    <tabs (onTabChange)="onTabChange($event)">
        <tab tabTitle="Overview" tabIcon="fa-solid fa-book-open">
            <div class="grid">
                <div class="col-9">
                    <app-card title="Project Phases">
                        @if (!loadingProject) {
                            <div class="pad20">
                                @if (phases != null && phases.length > 0) {
                                    <div class="phase-container">
                                        <div [class]="phase.id == project?.currentPhaseId ? 'phase-item phase-current' : 'phase-item'" *ngFor="let phase of phases">
                                                {{phase.name}}
                                        </div>
                                    </div>
                                }
                                @else {
                                    <span>
                                        No phases in this project
                                    </span>
                                }
                            </div>
                        }
                    </app-card>
                </div>

                <div class="col-3">
                    <app-card title="Customer">
                        @if (!loadingProject) {
                            <div class="pad20">
                                @if (project?.customerId != null) {
                                    <a class="sb-link" routerLink="/customers/{{project?.customerId}}">{{project?.customerName}}</a>
                                }
                                @else {
                                    No customer
                                }
                            </div>
                        }
                    </app-card>
                </div>
            </div>
            <br>

            <app-card title="Project Details">
                @if (!loadingProject) {
                    <div class="pad20">
                        <h2>{{project?.name}}</h2>
                    </div>
                }
                @else {
                    <div class="pad20">
                        Loading project...
                    </div>
                }
            </app-card>

        </tab>

        <tab tabTitle="Documents" tabIcon="fa-solid fa-folder-open">
            <app-card title="Project Documents">
                <button class="toolbar-btn squared rmar10" (click)="openUploadDocumentModal(uploadDocument)">Upload</button>
                @if (!loadingDocuments && documents != null && documents.length > 0) {
                    <div class="pad20">
                        <h2>Documents</h2>
    
                        <table class="table">
                            <tr>
                                <th>#ID</th>
                                <th>Name</th>
                                <th>Version</th>
                            </tr>
                            @for (doc of documents; track doc.id) {
                                <tr>
                                    <td>{{doc.id}}</td>
                                    <td>
                                        <a class="sb-link" routerLink="/my-projects/{{doc.id}}">{{doc.name}}</a>
                                    </td>
                                    <td>
                                        {{doc.version}}
                                    </td>
                                </tr>
                                
                            }
                        </table>
                    </div>

                }
                @else if(loadingDocuments){
                    <div class="pad20">
                        Loading documents...
                    </div>
                }
                @else {
                    <div class="pad20">
                        No documents for this project
                    </div>
                }
            </app-card>
        </tab>

        <tab tabTitle="Configuration" tabIcon="fa-solid fa-cog">
            <app-card title="Project Configuration">
                @if (!loadingProject) {
                    <div class="pad20">
                        <h2>Configuration</h2>
                    </div>
                }
                
            </app-card>
        </tab>
    </tabs>

</div>

<ng-template #uploadDocument>
    <h1>Upload Document</h1>
</ng-template>