<div class="sbi-main-container">
    <app-main-menu></app-main-menu>

    <div class="sbi-center-main">
        <h1>Tickets</h1>
        <div class="grid">
            <div class="col-8">
                @if(ticket){
                    <div class="sbi-card">
                        <h2>{{ticket.name}}</h2>
                        <div style="margin-top: 20px;" [innerHTML]="ticket.description | descriptionMK">
                        </div>
                    </div>
                }
            </div>

            <div class="col-4">
                @if(ticket){
                    <div class="sbi-card">
                        <h2>Users</h2>
                        <div style="margin-top: 20px;">
                            Assignee:<br>
                            @if(ticket.assignedTo){
                                <app-avatar
                                    [user]="ticket.assignedTo"
                                    [avatarSize]="50">
                                </app-avatar>
                                
                            }
                            @else{
                                <span>No Assignee</span>
                            }
                            <br><br>
                            Reviewer:<br>
                            @if(ticket.reviewedBy){
                                <app-avatar 
                                    [user]="ticket.reviewedBy"
                                    [avatarSize]="50">
                                </app-avatar>

                            }
                            @else{
                                <span>No Reviewer</span>
                            }
                        </div>
                    </div>
                }
            </div>
            
        </div>
        <div class="grid">
            <div class="col-12">
                @if(ticket){
                    <div class="sbi-card">
                        <h2>Activities</h2>
                        <div style="margin-top: 20px;">
                            <table style="width: 100%;">
                                @for(activity of ticket.activities; track activity.id){
                                    <tr>
                                        <td class="sbi-activity-col1">
                                            <app-avatar 
                                                [user]="activity.user"
                                                [avatarSize]="50">
                                            </app-avatar><br>
                                            <span class="sbi-activity-date">
                                                {{activity.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                                            </span>
                                        </td>
                                        <td class="sbi-activity-message">
                                            <span [innerHTML]="activity.message | descriptionMK">
                                            </span>
                                        </td>
                                    </tr>

                                }
                            </table>
                        </div>
    
                    </div>
                    
                }
            </div>
        </div>
        
    </div>
</div>