<div class="sbi-main-container">
    <app-main-menu></app-main-menu>

    <div class="sbi-center-main">
        <h1>Tickets</h1>
        <div class="grid">
            <div class="col-8">
                <div *ngIf="ticket" class="sbi-card">
                    <h2>{{ticket.name}}</h2>
                    <div style="margin-top: 20px;">
                        {{ticket.description}}
                    </div>

                </div>
            </div>

            <div class="col-4">
                <div *ngIf="ticket" class="sbi-card">
                    <h2>Users</h2>
                    <div style="margin-top: 20px;">
                        Assignee:<br>
                        <span *ngIf="!ticket.assignedTo">No Reviewer</span>
                        <app-avatar *ngIf="ticket.assignedTo"
                            [avatar]="ticket.assignedTo.avatar" 
                            [name]="ticket.assignedTo.firstname + ' ' + ticket.assignedTo.lastname" 
                            [avatarSize]="50">
                        </app-avatar>
                        <br><br>
                        Reviewer:<br>
                        <span *ngIf="!ticket.reviewedBy">No Reviewer</span>
                        <app-avatar *ngIf="ticket.reviewedBy"
                            [avatar]="ticket.reviewedBy.avatar" 
                            [name]="ticket.reviewedBy.firstname + ' ' + ticket.reviewedBy.lastname" 
                            [avatarSize]="50">
                        </app-avatar>
                    </div>

                </div>
            </div>

            
        </div>
        <div class="grid">
            <div class="col-12">
                <div *ngIf="ticket" class="sbi-card">
                    <h2>Activities</h2>
                    <div style="margin-top: 20px;">
                        <div *ngFor="let activity of ticket.activities">
                            <app-avatar 
                                [avatar]="activity.user.avatar" 
                                [name]="activity.user.firstname + ' ' + activity.user.lastname" 
                                [avatarSize]="25">
                            </app-avatar>
                            <div style="margin-left: 20px;">
                                {{activity.message}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>