<div class="sbi-main-container">
    <app-main-menu></app-main-menu>

    <div class="sbi-center-main">
        <h1>Tickets</h1>
        <div class="grid">
            <div class="col-10">
                <div *ngIf="ticket" class="sbi-card">
                    <h2>{{ticket.name}}</h2>
                    <div style="margin-top: 20px;">
                        <app-avatar [avatar]="ticket.assignedTo?.avatar ?? null" [name]="ticket.assignedTo?.lastname + ' ' + ticket.assignedTo?.firstname" [avatarSize]="50"></app-avatar>
                        <br>
                        {{ticket.description}}
                    </div>

                </div>
            </div>

            <div class="col-2">
                <div *ngIf="ticket" class="sbi-card">
                    <h2>Actions</h2>
                    <div style="margin-top: 20px;">
                        Action<br>
                        Action<br>
                        Action<br>
                        Action<br>
                        Action<br>
                    </div>

                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div *ngIf="ticket" class="sbi-card">
                    <h2>Activity</h2>
                    <div style="margin-top: 20px;">
                        Comment
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>