<div class="page">
    <h1>My Projects</h1>

    <toolbar>
        <button class="toolbar-btn squared rmar10" (click)="openDialogNewProject(dialogCreateProject)">New</button>
    </toolbar>

    <app-card title="Project list">
        @if (loadingProjects){
            <div class="pad20">
                Loading projects...
            </div>
        }
        @else {
            <div class="pad20">
                <table class="table">
                    <tr>
                        <th>#ID</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Customer</th>
                    </tr>
                    @for(project of projects; track project.id){
                        <tr>
                            <td>{{project.id}}</td>
                            <td>
                                <a class="sb-link" routerLink="/my-projects/{{project.id}}">{{project.name}}</a>
                            </td>
                            <td>
                                <a class="sb-link" routerLink="/users/{{project.ownerId}}">{{project.ownerName}}</a>
                            </td>
                            <td>
                                @if (project.customerId != null){
                                    <span><a class="sb-link" routerLink="/customers/{{project.customerId}}">{{project.customerName}}</a></span>
                                }
                                @else {
                                    <span>No customer</span>
                                }
                            </td>
                        </tr>

                    }
                </table>
            </div>

        }
        
    </app-card>
</div>

<ng-template #dialogCreateProject>
    <h1>New Project</h1>
    <form [formGroup]="createPrjForm" (ngSubmit)="createProject()">
        Name<span class="primary">*</span>:
        <input class="sbi-input w100" type="text" formControlName="name" placeholder="Name">
        <br>
        Customer:
        <select class="sbi-input w100" formControlName="customerId">
            @for(customer of customers; track customer.id){
                <option [value]="customer.id">{{customer.name}}</option>
            }
        </select>
        <br>
        <input type="checkbox" formControlName="initializePhases"> Initialize with default phases
        <br><br>
        <button type="submit" class="toolbar-btn">Create</button>
    </form>
</ng-template>