@use '../../styles/variables' as *;

.sy-tab{
    text-decoration: none;
    border: 0;
    outline: none;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 0.5rem;
    box-sizing: border-box;
    background-color: $primary;
    color: $default;
    cursor: pointer;
    border-radius: 0.25rem;
}

.sy-tab:hover{
    background-color: $primary-10;
}

.sy-tabs{
    list-style: none;
    list-style-type: none;

    padding: 10px 20px;
    box-sizing: border-box;
    background-color: $bg-panel-header;
    color: $default;
    margin: 20px 0px;
    border-radius: 0.25rem;
}

.active{
    color: $default;
    background-color: $primary;
}