@use 'app/styles/variables' as *;

html{
    margin: 0;
    padding: 0;
    background-color: $bg-main;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.main-content{
    flex: 1 1 auto;
    display: flex;
}

.main-panel{
    flex: 1 1 auto;
    box-sizing: border-box;
}

.page{
    box-sizing: border-box;
    padding: 20px;
    color: $default;
}

.w100{
    width: 100%;
    box-sizing: border-box;
}

.pad20{
    padding: 20px;
    box-sizing: border-box;
}

.rmar10{
    margin-right: 10px;
    box-sizing: border-box;
}

.rmar20{
    margin-right: 20px;
    box-sizing: border-box;
}

.sb-table{
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 0;

    tr{
        border-bottom: 1px solid $bg-panel-10;
        box-sizing: border-box;
    }

    tr:hover{
        background-color: $bg-menu-item-hover;
    }

    td{
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }

    th{
        text-align: left;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
    }
}

.sb-link{
    text-decoration: none;
    color: $primary;
}

.sb-link:hover{
    color: $primary-10;
}


.sb-red{
    color: $red;
}

.sb-green{
    color: $green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

/* Classes pour les différentes tailles */
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.avatar {
  border-radius: 50%; /* Crée le cercle */
  object-fit: cover; /* Pour conserver les proportions */
  border: 1px solid $bg-panel-10; /* Bordure optionnelle */
}

.bold{
    font-weight: bold;
}

.toolbar-btn{
    border: 0;
    outline: none;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: $primary;
    color: $default;
    cursor: pointer;
}

.toolbar-btn:hover{
    background-color: $primary-10;
}

.rounded{
    border-radius: 20px;
}

.squared{
    border-radius: 0.25rem;
}

.table{
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 0;
    display: table;
    line-height: 1.5em;
    max-width: 100%;
    overflow: auto;
    width: 100%;
    word-break: keep-all;
}

.table th{
    padding: 1.15rem 1.15rem;
    border: 1px  solid $table-border;
    vertical-align: middle;
    color: $default;
    text-align: left;
}

.table th:hover{
    background-color: $table-background;
}

.table tr{
    background-color: $table-background;
}

.table tr:nth-child(even) {
    background-color: $table-row;
}

.table tr:hover {
    background-color: $table-row-hover;
}

.table td{
    padding: 0.875rem 1.15rem;
    border: 1px solid $table-border;
    vertical-align: middle;
    color: $default;
}